@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

/*=================================================================
  Presets
==================================================================*/
body, html {
  margin: 0;
  height: 100%;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #1D1D1D;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

h1 {
  weight: 700;
  font-size: 24px;
  line-height: 32px;
}

/*=================================================================
    Product
  ==================================================================*/
.spacer {
  margin-bottom: 2.2rem;
}

.divider {
  border-bottom: 1px solid #DFDFDF;
}

.product {
  max-width: 1398px;
  margin: auto;
  padding: 30px 40px 40px 40px;
  min-height: 100%;
  display: flex;
}

.product__cart-btn, .product__size-btn, .product__text, label  {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.product__subheading {
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
}

.product__img-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 10px 20px 10px 0px;
}

/* zoom appear on hover */
.product__img-container:hover div:first-child {
  opacity: 1;
}

.product__img {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.product__img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.product__zoom {
  /* opacity: 0; */


}

/* new css zoom */


.product__zoom-container {
    z-index: 20;
  opacity: 0;
  border-radius: 50%;
  z-index: 20;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: .3s ease-in-out;

  width: 40px;
  height: 40px;
  background: #FFFFFF;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);

  display: flex;
  align-items: center;
  justify-content: center;

}


.product__view {
  flex-basis: 69%;
}

.product__info {
  align-self: flex-start;
  flex-basis: 31%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  padding: 40px 0px 0px 40px;
}

.product__choice {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0px;
  margin-bottom: 1rem;
}

/* buttons */
.product__size-btn {
  display: flex;
  align-items: center;
  border-radius: 38px;
  background-color: #F1F1F1;
  padding: 8px 16px;
  transition: .3s ease-in-out;
  margin: 0px 8px 5px 0px;
}

/* product size variants */
input[type='radio']{
  visibility: hidden;
   width:0px;
  height:0px;
}

.product__choice-size label{
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 38px;
  background-color: #F1F1F1;
  padding: 8px 16px;
  transition: .3s ease-in-out;
  margin: 0px 8px 5px 0px;
}

.product__choice-size label:hover, .product__choice input[type="radio"]:checked+label{
  background-color: #000;
  color: white;
}

.product__cart-btn:hover, .product__size-btn:hover, .product__size-btn--active {
  background-color: #000;
  color: white;
}

.product__size-btn, .product__color-btn, .product__cart-btn {
  cursor: pointer;
}

.product__color-btn {

  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid  #DEDEDE;
  box-shadow: inset 0 0 0 2px white;
  margin: 0px 8px 5px 0px;
}


.product__color-btn:hover, .product__color-btn--active {
  border: 1px solid #1B1B1B;
}

/* color swatches */
.product__color_btn {

  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #1b1b1b;
  box-shadow: inset 0 0 0 2px white;
    margin: 0px 8px 5px 0px;

}

.red{
  background: linear-gradient( -45deg, #AC5941, #AC5941 50%, #8A3D28 50% );
}

.green{
    background: linear-gradient( -45deg, #419FAC, #419FAC 50%, #1F737E 50% );
}

.blue{
    background: linear-gradient( -45deg, #416CAC, #416CAC 50%, #1F2E7E 50% );
}

.product__cart-btn {
  border: 1px solid #DFDFDF;
  border-radius: 28px;
  padding: 12px 0px 12px 0px;
  display: flex;
  justify-content: center;
  transition: .3s ease-in-out;
}

/*=================================================================
  Media Queries
==================================================================*/

@media screen and (max-width: 600px) {
  .product {
    flex-direction: column;
  }

  .product__view {
    flex-basis: 65%;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
  }

  .product__img {
    width: 86vw;
    transition: none;
  }

  .product__img-container {
    width: 100%;
    overflow: initial;

  }

  ::-webkit-scrollbar {
    display: none;
  }

  .product, .product__info {
    padding: 12px;
    align-self: center;
    width: 100%;
  }

  .product__img:hover {
    -webkit-transform: none;
    transform: none;
  }
}
